#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define TAPPING_TERM 280

/ {
    behaviors {
        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred"; // Предпочитать tap, если есть сомнения
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "ColemakDH";

            bindings = <
                &none  &kp Q      &kp W      &kp F          &kp P          &kp B             &kp J      &kp L      &kp U          &kp Y          &kp SEMI       &none
                &none  &HML LALT A  &HML LGUI R  &HML LCTRL S   &HML LSHFT T   &kp G             &kp M      &HMR RSHFT N &HMR RCTRL E   &HMR RGUI I    &HMR RALT O    &none
                &none  &kp Z      &kp X      &kp C          &kp D          &kp V             &kp K      &kp H      &kp COMMA      &kp DOT        &kp FSLH       &none
                                               &kp ESC        &kp SPACE      &kp TAB           &kp ENTER  &kp BSPC     &kp DEL
            >;
        };
    };
};
